<div class="container-bg">
    <div class="container">
        <div class="title_about">
            <h3 class="title">Sobre mí</h3>
        </div>
        <div class="container_about">
            <img src="" alt="" srcset="">
            <p>Soy desarrollador web aplicando tecnologías como HTML, CSS, JavaScript, Angular, Java, MySql 
                con los cuales he trabajado en diversos proyectos que me han permitido aplicar mis conocimientos 
                en el desarrollo de sitios web. Actualmente estoy cursando 4to año de Ingeniería en Sistemas de 
                Información en la UTN. Motivado por la programación y encontrar soluciones informáticas, he 
                decidido especializarme en el desarrollo web.</p>
        </div>
    </div>
</div>