<nav class="navbar fixed-top navbar-expand-lg">

    <div class="container">

        <div class="col-2">
            <a class="navbar-brand" href="#home" (click)="switchSection(0)"><i>&lt;LF&gt;</i></a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list menu_icon"></i>
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>

        <div class="collapse navbar-collapse col-10" id="navbarNavAltMarkup">

            <ul class="navbar-nav col-10 d-flex justify-content-center">
                <li class="nav-item">
                    <a #navLink class="nav-link active" href="#home" (click)="switchSection(0)" ariaCurrentWhenActive="page">Inicio</a>
                </li>
                <li class="nav-item">
                    <a #navLink class="nav-link" href="#about" (click)="switchSection(1)" ariaCurrentWhenActive="page">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a #navLink class="nav-link" href="#skills" (click)="switchSection(2)" ariaCurrentWhenActive="page">Aptitudes</a>
                </li>
                <li class="nav-item">
                    <a #navLink class="nav-link" href="#portfolio" (click)="switchSection(3)" ariaCurrentWhenActive="page">Portafolio</a>
                </li>
                <li class="nav-item">
                    <a #navLink class="nav-link" href="#contact" (click)="switchSection(4)" ariaCurrentWhenActive="page">Contacto</a>
                </li>
            </ul>


            <ul class="navbar-nav col-2 d-flex justify-content-end">
                <li class="nav-item pt-2 pb-2">
                    <label class="switch">
                        <input id="checktheme" type="checkbox">
                        <span class="slider" (click)="switchTheme()"></span>
                    </label>
                </li>
            </ul>
        </div>

    </div>
</nav>