<div class="container-bg">
    <div class="container">
        <!-- <div class="profile"> -->
            <div class="picture">
                <img class="img-fluid pic" src="../../assets/perfil.jpeg" alt="">
            </div>

        <!-- </div> -->
        <div class="presentation">
            <h2>¡Hola!</h2>
            <h1>Soy <b>Lisandro Funes</b></h1>
            <h3>Desarrollador Web</h3>
            <div class="social">
                <button class="buttonMore" type="button">Más sobre mí</button>
                <a href="https://github.com/lisandrofunes" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/lisandrofunes/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.instagram.com/lisandro.funes/" target="_blank"><i class="bi bi-instagram"></i></a>

            </div>
        </div>

        
    </div>
    <div class="chevron">
        <i class="bi bi-chevron-down"></i>
    </div>

</div>