* {
    transition: all .5s;
}

.container-bg {
    background-color: var(--background);
    background-image: var(--backMain);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.container {
    display: flex;
    height: min-content;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: flex-end;
    opacity: 0;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

.presentation {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: var(--text);
}

.span_name {
    font-size: 3rem;
}

.span_name>b {
    color: var(--color0);
}

.picture {
    width: 25%;
    max-width: 300px;
    border-radius: 70% 30% 50% 50% / 40% 30% 70% 60%;
    background: var(--color0);
    user-select: none;
}

.picture img {
    border-radius: 70% 30% 50% 50% / 40% 30% 70% 60%;
    pointer-events: none;
}

.container_social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--btn);
    color: var(--textW);
    text-decoration: none;
    gap: 1ch;
    font-size: 1.2rem;
}

.social_item i {
    display: flex;
}

.chevron {
    position: absolute;
    bottom: 5rem;
    color: var(--color0);
    font-size: 30px;
    animation: dowDirection infinite 1s;
}

@keyframes dowDirection {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    50% {
        transform: translateY(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* transform: translateY(30px); */
    }

    100% {
        opacity: 1;
        /* transform: translateY(-30px); */
    }
}

@media screen and (max-width: 991px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .presentation {
        align-items: center;
    }

    .span_name {
        font-size: 2rem;
    }

    .picture {
        width: 50%;
        max-width: 200px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {}