<div id="home" class="container-bg">
    <div class="container">
        <div class="picture">
            <img class="img-fluid" src="../../assets/Lisandro-Funes.png" alt="">
        </div>

        <div class="presentation">
            <span>¡Hola!</span>
            <span class="span_name">Soy <b>Lisandro Funes</b></span>
            <span>Desarrollador Web</span>
            <div class="container_social">
                <a class="social_item" href="https://github.com/lisandrofunes" target="_blank"><i class="bi bi-github"></i></a>
                <a class="social_item" href="https://www.linkedin.com/in/lisandrofunes/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
 
    </div>
    <div class="chevron">
        <i class="bi bi-chevron-down"></i>
    </div>

</div>