.container-bg{
    background: var(--background);
    padding: 4em 0 1em;
    transition: all 1s;
}

.container {
    display: flex;
    flex-direction: column;
}

.title{
    color: var(--color0);
    transition: all 1s;
}

.container_skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem; */
}

.skill-card {
    
    display: flex;
    align-items: center;
    /* width: 200px; */
    border-radius: 20px;
    background-color: var(--card);
    color: var(--text);
    padding: 1rem;
    gap: 1rem;
    transition: all .3s cubic-bezier(.6, .4, 0, 1);
    user-select: none;
}

.skill-card i{
    font-size: 3rem;
}

.skill-card:hover{
    scale: 1.1;
    color: var(--textI);
    background-color: var(--color0);
    transition: all .3s cubic-bezier(.6, .4, 0, 1);    
    z-index: 2;
}
@media screen and (max-width: 480px){
    .skill-card {
        padding: .8rem;
        gap: .8rem;
        font-size: .9rem;
    }
    .skill-card i{
        font-size: 2rem;
    }

}
@media screen and (max-width: 991px){
    .container_skills{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

/* @media screen and (min-width: 481px) and (max-width: 1023px)  */