*{
    font-family: 'Poppins', sans-serif;
}

html, body {
    scroll-behavior: smooth; 
}

.light-theme{
    --color0: #e76f51;
    --color1: #f4a261;
    --btn: #2a9d8f;
    --navbar: #dadada;
    --background: #E6E6E6;
    --background2: #DADADA;
    --background3: #f1f1f1;
    --text: #333333;
    --textI: #F2F2F2;
    --textW: #F2F2F2;
    --card: #d5d5d5;
    --card2: #e2e2e2;
    --input: #f1f1f1;

    --imgAbout: url(./assets/about_light2.png);
    --backMain: url(./assets/backMain_light.svg);
    --backContact: url(./assets/backContact_light.svg);
}


.dark-theme{
    --color0: #e9c46a; 
    --color1: #f4a261;
    --btn: #508e51;
    --navbar: #141414;
    --background: #191919;
    --background2: #141414;
    --background3: #1c1c1c;
    --text: #F2F2F2;
    --textI: #333333;
    --textW: #F2F2F2;
    --card: #2e2e2e;
    --card2: #2e2e2e;
    --input: #434343;

    --imgAbout: url(./assets/about_dark2.png);
    --backMain: url(./assets/backMain_dark.svg);
    --backContact: url(./assets/backContact_dark.svg);
}

.container-bg{
    padding: 4em 0 1em;
    transition: all .3s;
}

.title {
    color: var(--color0);
    transition: all .3s;
}

.skill-card {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: var(--card);
    color: var(--text);
    padding: 1rem;
    gap: 1rem;
    transition: all .3s cubic-bezier(.6, .4, 0, 1);
    user-select: none;
    text-decoration: none;
}